.interiorBody {
  font-family: "NestoBeryl42", sans-serif;
  font-weight: 100;
}

.interiorHeader {
  display: flex;
  height: 80px;
  width: 1440px;
  background-color: var(--mainBackgroundColor);
  border-bottom: 1px solid rgba(66, 1, 1, 0.096);
  box-shadow: black;
  margin: 0%;
}

.interiorHero_title {
  padding-left: 195px;
  padding-top: 170px;
  margin-top: 0;
  font-size: 55px;
  letter-spacing: 3px;
}

.interiorHeader_logo {
  padding-top: 13px;
  padding-left: 100px;
}

.interiorHeader_navigatePanel {
  display: flex;
  width: 777px;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
  padding-top: 14px;
  padding-left: 60px;
  border-bottom-left-radius: 34px;
}

.interiorHeader_navigateLinkTitle {
  font-family: "TT Firs Neue Trl", sans-serif;
  font-weight: 400;
  color: #790303;
  transition: 1s;
}

.interiorHeader_navigateLink:hover .interiorHeader_navigateLinkTitle {
  color: rgba(1, 48, 48, 0.808);
  transition: 1s;
}

.collectionGallery_caruselCellButton {
  position: relative;
  display: block;
  width: 190px;
  height: 50px;
  transition: 1s;
  left: 0px;
  top: 0px;
  border: none;
  background-color: transparent;
}

.collectionGallery_caruselCellButton:hover
.collectionGallery_caruselCellButtonText {
  color: rgba(1, 48, 48, 0.808);
  transition: 1s;
}

.collectionGallery_caruselCellButton:hover .span3 {
  transition: 1s;
  background-color: #03447921;
}

.interiorHero_button {
  position: relative;
  display: block;
  width: 190px;
  height: 50px;
  transition: 1s;
  left: 190px;
  top: 50px;
  border: none;
  background-color: transparent;
}

.collectionGallery_caruselCellButtonText {
  font-family: "TT Firs Neue Trl", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #790303;
  transition: 1s;
}

.interiorHero_buttonText {
  font-family: "TT Firs Neue Trl", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #790303;
  transition: 1s;
}

.interiorHero_button:hover .interiorHero_buttonText {
  color: rgba(1, 48, 48, 0.808);
  transition: 1s;
}

.interiorHero_button:hover .span3 {
  transition: 1s;
  background-color: #03447921;
}

.span-text {
  position: absolute;
  font-weight: 400;
  font-size: 22px;
  left: 50px;
  top: 11px;
  color: black;
  transition: 1s;
  z-index: 10;
}

.span1 {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 180px;
  height: 40px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  overflow: hidden;
  z-index: 9;
  transition: 1s;
  animation: unset;
}

.span2 {
  position: absolute;
  bottom: 0;
  display: block;
  width: 180px;
  height: 40px;
  /* background-color: rgba(11, 129, 184, 0.288); */
  border-top: 1px solid black;
  border-right: 1px solid black;
  z-index: 8;
  transition: 1s;
  animation: unset;
  transform-style: flat;
}

.span3 {
  position: absolute;
  top: 12px;
  left: 22px;
  display: block;
  width: 164px;
  height: 29px;
  transition: 1s;
  overflow: hidden;
}

.collectionGallery_carusel {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 50px;
}

.collectionGallery_caruselPic {
  position: absolute;
  bottom: 0;
  right: 0;
}

.collectionGallery_caruselCell {
  position: relative;
  display: block;
  width: 350px;
  height: 449px;
  border: 1px solid black;
  background-color: #e6e6e6;
}

.collectionGallery_caruselCellTitle {
  padding-left: 12px;
}

.collectionGallery_caruselCellButton {
  margin-left: 24px;
}

.professionalTeam_gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
}

.professionalTeam_galleryCell {
  display: block;
  width: 255px;
  height: 274px;
  background-color: red;
  padding-bottom: 40px;
}

.professionalTeam_galleryCellPic {
  position: absolute;
  width: 103px;
  height: 146px;
}

.interiorHero {
  display: block;
  height: 900px;
  width: 1440px;
  margin: 0;
  background-color: brown;
  background-image: url(/images/maxyPic/interiorHeroBanner.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.interiorHero_frame {
  position: relative;
}

.interiorHero_frameHorizontal {
  position: absolute;
  display: block;
  width: 350px;
  height: 350px;
  top: 140px;
  left: 150px;
  background-color: rgba(139, 39, 0, 0.11);
  border-top: 1.8px solid rgba(77, 2, 2, 0.644);
  -webkit-box-shadow: 25px 25px 62px 0px #570000;
  -moz-box-shadow: 25px 25px 62px 0px #570000;
  box-shadow: 25px 25px 62px 0px rgba(1, 38, 48, 0.055);
}

.interiorHero_frameVertical {
  position: absolute;
  display: block;
  width: 350px;
  height: 350px;
  top: 110px;
  left: 170px;
  border-left: 1.8px solid #110a0a;
  -webkit-box-shadow: 25px 25px 62px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 25px 25px 62px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 25px 25px 62px 0px rgba(0, 0, 0, 0.199);
}

.interiorHero_subtitle {
  font-family: "TT Firs Neue Trl", sans-serif;
  font-weight: 400;
  display: block;
  position: absolute;
  left: 200px;
  top: 280px;
}

.peopleSay {
  display: block;
  height: 700px;
  background-image: url(/images/maxyPic/peopleSayPic.png);
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}

.peopleSay_title {
  padding-bottom: 40px;
  display: flex;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
  font-size: 58px;
  margin-top: 0;
  justify-content: center;
}

.peopleSay_subtitle {
  padding-bottom: 40px;
  display: flex;
  width: 500px;
  padding-top: 69px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
}

.peopleSay_clientsGallery {
  display: flex;
  margin-top: 110px;
  justify-content: space-evenly;
}

.peopleSay_clientsGalleryCard {
  position: relative;
  display: block;
  width: 255px;
  height: 314px;
  background-color: white;
  border: 1px solid black;
  border-radius: 9px;
  padding-left: 11px;
  padding-right: 20px;
}

.peopleSay_clientsGalleryPlace {
  position: absolute;
  top: -55px;
  right: 39px;
  display: block;
  width: 111px;
  height: 111px;
  border-radius: 50%;
  background-color: #d9d9d9;
}

.peopleSay_clientsGalleryPic {
  position: absolute;
  bottom: 2px;
  display: block;
  width: 111px;
  height: 96px;
}

.peopleSay_clientsGalleryTitle {
  display: block;
  width: 90px;
  padding-top: 30px;
  color: black;
}

.peopleSay_before,
.peopleSay_after {
  display: block;
  width: 50px;
  height: 2px;
  background-color: #b80404;
}

.peopleSay_before {
  margin-right: 15px;
  margin-top: 7px;
}

.peopleSay_after {
  margin-left: 15px;
  margin-top: 7px;
}

.peopleSay_clientsGallerySubtitle {
  color: darkred;
}

.peopleSay_clientsGalleryBlaBla {
  font-family: "TT Firs Neue Trl", sans-serif;
  font-weight: 400;
  line-height: 22px;
}

:root {
  --mainBackgroundColor: #d3cbc5;
}

.body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
  background-color: var(--white-color);
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

li {
  list-style-type: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
}
/*# sourceMappingURL=styles.css.map */