:root {
  --white-color: #ffffff;
  --black-color: #000000;
  --main-text-color: #212121;
  --second-text-color: #757575;
  --active-text-color: #2196f3;
  --background-main-color: #e5e5e5;
  --background-button-color: #f5f4fa;
  --background-footer-color: #2f303a;
  --active-btn-order: #188ce8;
  --main-icon-color: #afb1b8;
  --main-footer-social-icon-color: rgba(255, 255, 255, 0.1);
  --activity-text-background-color: rgba(47, 48, 58, 0.8);
  --backgroung-mosaic-active-color: rgba(33, 150, 243, 0.9);
  --background-modal-color: rgba(0, 0, 0, 0.2);
  --grid-item: 1;
}
