.interiorBody {
  font-family: "House of Montague", sans-serif;
}
.interiorHeader {
  display: flex;
  height: 80px;
  width: 1440px;
  background-color: var(--mainBackgroundColor);
  border-bottom: 1px solid rgba(0, 0, 0, 0.096);
  box-shadow: black;
  padding-left: 165px;
  margin: 0%;
}

.interiorHero_title {
  padding-left: 195px;
  padding-top: 170px;
  margin-top: 0;
  font-size: 55px;
  letter-spacing: 3px;
}
.interiorHeader_logo {
  padding-top: 13px;
}

.interiorHeader_navigatePanel {
  display: flex;
  width: 777px;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
  padding-top: 14px;
  padding-left: 115px;
  //   border-bottom: 2px solid rgb(87, 3, 3);
  border-bottom-left-radius: 34px;
}
.interiorHeader_navigateLinkTitle {
  font-family: "TT Firs Neue Trl", sans-serif;
  font-weight: 400;
}
// .linteriorHeaderLogoLink {
//   display: block;
//   width: 50px;
//   height: 50px;
//   margin: 0;
//   background-color: chocolate;
// }
.interiorHero {
  display: block;
  height: 900px;
  width: 1440px;
  margin: 0;
  //   background-color: brown;
  background-image: url(/images/maxyPic/interiorHeroBanner.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.interiorHero_frame {
  //   display: block;
  //   width: 200px;
  //   height: 200px;
  position: relative;
}
.interiorHero_frameHorizontal {
  position: absolute;
  display: block;
  width: 350px;
  height: 350px;
  top: 140px;
  left: 150px;
  background-color: transparent;

  border-top: 2px solid rgb(121, 3, 3);
  border-radius: 15px;
}

.interiorHero_frameVertical {
  position: absolute;
  display: block;
  width: 350px;
  height: 350px;
  top: 110px;
  left: 170px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 34px;
  //   background-color: rgba(64, 224, 208, 0.267);
  border-left: 2px solid rgb(121, 3, 3);
}
.interiorHero_button {
  position: relative;
  display: block;
  width: 190px;
  height: 50px;
  transition: 1s;
  left: 390px;
  top: 33px;
  border: none;
  background-color: transparent;
}

.interiorHero_buttonText {
  //   font-family: "House of Montague", sans-serif;
  //   font-family: "MontrealSerial", sans-serif;
  font-family: "TT Firs Neue Trl", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #790303;
  transition: 1s;
}

.interiorHero_button:hover .interiorHero_buttonText {
  color: rgb(184, 4, 4);

  transition: 1s;
}

.interiorHero_button:hover .span3 {
  transition: 1s;
  background-color: #79030321;
  //   overflow: hidden;
}

// .interiorHeader_link {
//   //   font-family: "Leo Arrow", sans-serif;
//   font-size: 33px;
// }
// .interiorHero_title {
//   font-family: "Leo Arrow", sans-serif;
// }
.span-text {
  position: absolute;
  font-weight: 400;
  font-size: 22px;
  left: 50px;
  top: 11px;
  color: black;
  transition: 1s;
  z-index: 10;
}

.span1 {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 180px;
  height: 40px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-radius: 3px;
  overflow: hidden;
  z-index: 9;
  transition: 1s;
  animation: unset;
}
.span2 {
  position: absolute;
  bottom: 0;
  display: block;
  width: 180px;
  height: 40px;
  border-radius: 3px;

  /* background-color: rgba(11, 129, 184, 0.288); */
  border-top: 1px solid black;
  border-right: 1px solid black;
  z-index: 8;
  transition: 1s;
  animation: unset;
  transform-style: flat;
}

.span3 {
  position: absolute;
  top: 12px;
  left: 22px;
  display: block;
  width: 164px;
  height: 29px;
  transition: 1s;
  overflow: hidden;
  //   z-index: 1;
}

.collectionGallery_carusel {
  display: flex;
  justify-content: space-evenly;
}
.collectionGallery_caruselPic {
  position: absolute;
  bottom: 0;
  right: 0;
}
.collectionGallery_caruselCell {
  position: relative;
  display: block;
  width: 350px;
  height: 449px;
  border: 1px solid black;
}

.professionalTeam_gallery {
  display: grid;
  //  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
}

.peopleSay {
  display: block;
  height: 700px;
  background-image: url(/images/maxyPic/peopleSayPic.png);
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}

.peopleSay_title {
  //   font-family: "Leo Arrow", sans-serif;
  padding-bottom: 40px;
  display: flex;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
  font-size: 58px;
  margin-top: 0;
  justify-content: center;
}

.peopleSay_subtitle {
  padding-bottom: 40px;
  display: flex;
  width: 500px;
  padding-top: 69px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.peopleSay_clientsGallery {
  display: flex;
  margin-top: 65px;
  justify-content: space-evenly;
}
.peopleSay_clientsGalleryCard {
  position: relative;
  display: block;
  width: 255px;
  height: 314px;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  border-radius: 9px;
  padding-left: 11px;
  padding-right: 20px;
}

.peopleSay_clientsGalleryPlace {
  position: absolute;
  top: -55px;
  right: 39px;
  display: block;
  width: 111px;
  height: 111px;
  border-radius: 50%;
  background-color: #d9d9d9;
}
.peopleSay_clientsGalleryPic {
  position: absolute;
  bottom: 2px;

  display: block;
  width: 111px;
  height: 96px;
}

// .peopleSay_subtitle::before {
//   display: block;
//   width: 50px;
//   height: 4px;
//   background-color: darkred;
// }
.peopleSay_clientsGalleryTitle {
  display: block;
  width: 90px;
  padding-top: 30px;
  color: rgb(0, 0, 0);
}

.peopleSay_before,
.peopleSay_after {
  display: block;
  width: 50px;
  height: 2px;
  background-color: rgb(184, 4, 4);
}
.peopleSay_before {
  margin-right: 15px;
  margin-top: 7px;
}
.peopleSay_after {
  margin-left: 15px;
  margin-top: 7px;
}
// .peopleSay_clientsGalleryTitle {

// }

// .peopleSay {
//   justify-content: center;
// }
.peopleSay_clientsGallerySubtitle {
  color: darkred;
}

.professionalTeam_navigate {
  display: flex;
  justify-content: space-evenly;
}
